:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #000;
  --ltblack: #333;
  --ltgrey: #888;
  --dkgrey: #1a1a1a;
  --white: #fff;
  --width: 200px;
  --height: 200px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: max-content;
  height: max-content;
  margin: auto;
}

#eye-ctr, #jaw-ctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: max-content;
}

#jaw-ctr {
  display: flex;
  width: 100%;
  gap: 0px;
  border-radius: 0px 0px 20px 20px;
}


#twitter, #generated {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: max-content;
  height: max-content;
  padding: 0px;
}

#twitter img {
  min-width: 400px;
}

#twitter img {
  border-radius: 0px 20px 20px 20px;
}

#generated svg {
  border-radius: 20px;
}

#jaw-ctr input {
  outline: none;
  border: none;
  padding: 20px 20px;
  width: 80%;
  flex-basis: 1;
  background-color: var(--dkgrey);
  border: 1px solid var(--ltblack);
  border-radius: 0px 20px 20px 20px;
  transition: filter 300ms;
  border-radius: 0px 0px 0px 20px;
}


#jaw-ctr button {
  outline: none;
  border: none;
  padding: 20px 20px;
  border-radius: 20px;
  width: 20%;
  flex: 1;
  background-color: var(--dkgrey);
  color: var(--white);
  cursor: pointer;
  border: 1px solid var(--ltblack);
  border-radius: 0px 0px 20px 0px;
  filter: none;
  transition: filter 300ms;
}

#jaw-ctr button:hover {
  filter: drop-shadow(0 0 2em var(--ltblack));  
}

@media screen and (max-width: 950px) {
  #app {
    zoom: 0.8;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  #app {
    zoom: 0.7;
    margin: auto;
  }
}

@media screen and (max-width: 700px) {
  #app {
    zoom: 0.6;
    margin: auto;
  }
}

@media screen and (max-width: 600px) {
  #app {
    zoom: 0.5;
    margin: auto;
  }
}

@media screen and (max-width: 500px) {
  #eye-ctr {
    zoom: 0.8;
    margin: auto;
    font-size: x-large;
  }
  #jaw-ctr {
    zoom: 2;
    gap: 0px;
    border-radius: 0 0 20px 20px;
  }
  #jaw-ctr button, #jaw-ctr input {
    width: 100%;
  }
  #jaw-ctr input {
    border-radius: 0px;
  }
  #jaw-ctr button {
    border-radius: 0px 0px 20px 20px;
  }
}