:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #000;
  --ltgrey: #888;
  --dkgrey: #1a1a1a;
  --white: #fff;
  --width: 200px;
  --height: 200px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
}

#app {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: max-content;
  height: max-content;
  margin: auto;
  border: 1px solid blue;
}

#twitter, #generated {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: max-content;
  height: max-content;
  padding: 20px;
  border: 1px solid red;
}

#twitter img {
  border: 1px solid blue;
}

#generated svg {
  border: 1px solid blue;
}

#twitter input {
  outline: none;
  border: none;
  padding: 20px;
  width: 10vw;
  margin: auto;
  background-color: var(--dkgrey);
  border-radius: 0px 20px 20px 20px;
}

#generated button {
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 20px;
  width: max-content;
  margin: auto;
  background-color: var(--dkgrey);
  color: var(--white);
  cursor: pointer;
  border-radius: 0px 20px 20px 20px;
}